<!DOCTYPE html> 
<html>
<head>
	<title>Hello World</title>
	<link rel="stylesheet" type="text/css" href="contact.css">
</head>
<body>
	<header>
		<nav id="primary_nav_wrap">
		<ul>
			<li class="current=menu-item"><a href="#">Home</a>

			</li>
			<li><a href="#">About</a></li>
			<li><a href="#">Past Work</a>
				<ul>
					<li><a href="#">Fundraisers</a></li>
					<li><a href="#">Concerts</a></li>
					<li><a href="#">Parties</a></li>
					<li><a href="#">Sporting Events</a></li>
				</ul>
			</li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</nav>
	</header>
	<div id="home-image">
		<h1>LVC Happenings Inc</h1>
		<!-- <img src="http://www.socoolevents.com/_images/So%20Cool%20Events%20Event%20Furniture.jpg"> -->
	</div>
</body>
</html>