<head>
<style>

</style>
</head>
<div id="home-image">
	<!-- <img src="http://www.socoolevents.com/_images/So%20Cool%20Events%20Event%20Furniture.jpg"> -->
</div>

<div id="home-image-bottom-left">
	
	
	
</div>

<div id="home-image-bottom-right">
	
	
</div>
<div id="contact-form">
	<form action="/contacts" method="POST">
		<p><label for="email">Email</label>
		<br>
		<input type="text" name="email"></p>
		<br>
		<p><label for="name">Name</label>
		<br>
		<input type="text" name="name"></p>
		<br>
		<label type="text" for="message">Message</label>
		<br>
		<textarea name="message" id="message"></textarea>
		<br>
		<input type="submit" id="submit">
	</form>
</div>


