<head>
<style>

</style>
</head>

<div id="contact-form">
	<form action="/contacts" method="POST">
		<p><label for="email">Email</label>
		<br>
		<input type="text" name="email"></p>
		<br>
		<p><label for="name">Name</label>
		<br>
		<input type="text" name="name"></p>
		<br>
		<label type="text" for="message">Message</label>
		<br>
		<textarea name="message" id="message"></textarea>
		<br>
		<input type="submit" id="submit">
	</form>
</div>
