<!Doctype html>
<html>
<head>

<title>GALLERY</title>
</head>
<body>
	<div class = "gal">
<img class = "gallery" src="http://www.daveyslocker.com/wp-content/uploads/2014/08/boat-parade-newport-2014-3.jpg">
<img class = "gallery" src="http://www.destination360.com/europe/italy/images/s/italy-events-holidays.jpg">
<img class = "gallery" src="Public/images/CBall+Welcome+Gallery+2012+photo+credit+Event+Creative.jpg"> 
<img class = "gallery" src="Public/images/club-glow dc armory.jpg">

<img class = "gallery" src="Public/images/fashion-event-at-atp.jpg">

<img class = "gallery" src="Public/images/movie-in-the-park.jpg">

<img class = "gallery" src="http://f.tqn.com/y/goitaly/1/S/i/Z/-/-/145668711.jpg">

<img class = "gallery" src="Public/images/olympic-sculpture-park-event.jpg">

<img class = "gallery" src="http://www.uchinatravel.com/tours/china-attractions/China-Attraction-untitled(58)-528.bmp">

<img class = "gallery" src="http://www.events-africa.com/images/events-africa-email.jpg">

<img class = "gallery" src="http://media.timeout.com/images/101624407/image.jpg">

<img class = "gallery" src="http://www.venice-carnival-italy.com/img/carnival_of_venice_01.jpg">

</div>


<div id="home-image">
	
	<!-- <img src="http://www.socoolevents.com/_images/So%20Cool%20Events%20Event%20Furniture.jpg"> -->
</div>


	<script type="text/javascript" src="dancing_with_the_stars.js"></script>


</body>
</html>