
<div id="home-image">
	<h1><a href="#">LVC Happenings Ltd</a></h1>
	<!-- <img src="http://www.socoolevents.com/_images/So%20Cool%20Events%20Event%20Furniture.jpg"> -->
</div>

<div id="home-image-bottom-left">
	<h1><a href="#">Events</a></h1>
	
	
</div>

<div id="home-image-bottom-right">
	<h1><a href="#">Entertainment</a></h1>
	
</div>
