<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="stylesheet" type="text/css" href="home.css">
	<link rel="stylesheet" type="text/css" href="contacts.css">
	<link rel="stylesheet" type="text/css" href="thanks.css">
	<link rel="stylesheet" type="text/css" href="gallery.css">
	<link rel="stylesheet" type="text/css" href="lvc_about.css">
</head>
<body>
	<div id="myHeader">
		<header>
			<nav id="primary_nav_wrap">
			<ul>
				<li class="current=menu-item"><a href="/home">Home</a>

				</li>
				<li><a href="/lvc_about">About</a></li>
				<li><a href="/gallery">Past Work</a>
					<ul>
						<li><a href="/gallery">Fundraisers</a></li>
						<li><a href="/gallery">Concerts</a></li>
						<li><a href="/gallery">Parties</a></li>
						<li><a href="/gallery">Sporting Events</a></li>
					</ul>
				</li>
				<li><a href="/contacts">Contact Us</a></li>
			</ul>
		</nav>
		</header>
	</div>	

<%= yield %>
</body>
</html>
