
#home-image {
  background-image: url("../images/hero-images/home.jpg");
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -10;
  position: absolute;
  color: rgb(170, 255, 236);
  font-family: serif;
  text-align: center;
  float: left;

}

form{
	position: absolute;
	text-align: center;
	margin-top: 10%;
	margin-left: 40%;
	color: yellow;
	background-color: rgba(136, 138, 255, 0.54);
	border-radius: 2em;
	width: 20%;
	padding: 10px;
}

#submit{
	position: relative;
/*	margin-left: 40%;
*/}

textarea{
/*	margin-right: -200px;
*/}


