.gallery{
	width: 441.5px;
	height:400px;
	display: inline;
}
.gal{
	display: block;
}

#home-image {
  background-image: url("../images/hero-images/home.jpg");
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -10;
  position: absolute;
  color: rgb(170, 255, 236);
  font-family: serif;
  text-align: center;
  float: left;
}

#home-image h1{
	position: absolute;
	text-align: center;
	z-index: 10;
	font-weight: bold;
}


