<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="jquery-2.1.3.js"></script>
	<link href="lvc-about.css" rel="stylesheet">
	<script type="text/javascript"></script>
		<title>About us</title>
</head>
<body>
	<div class="wholething">
	<header id="heroabout">
	
		<div id="aboutus">
			<h1> About us </h1>
		</div>
</header>

			<p> We are a boutique event planning organization specializing in fundraising and charity events as well as corporate parties and celebrations</p>

			<img src="" alt="Levy">

	</div>
	</body>
</body>
</html>


