<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link href="lvc-about.css" rel="stylesheet">
	<script type="text/javascript"></script>
		<title>About us</title>
</head>
<body>
	<header id="heroabout">
	</header>
		<div id="aboutus">
			<h1> About us: </h1>

			<p> We are a boutique event planning organization specializing in fundraising and charity events as well as corporate parties and celebrations</p>

			<p> The process:</p>
			<br>

			<div id="levy">
				<img src="">
			</div>
		</div>
</body>
</html>


