<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="jquery-2.1.3.js"></script>
		<!-- <script type="text/javascript" src="lvc-about.js"></script> -->
	<link href="lvc-about.css" rel="stylesheet">
	<script type="text/javascript"></script>
		<title>About us</title>
</head>
<body>
	<div class="wholething">
	<header id="heroabout">

	
		<div id="aboutus">
			<h1> About us </h1>
		</div>
</header>
</div id="middlebar">
		

			<p> We are a boutique event planning organization specializing in fundraising and charity events as well as corporate parties and celebrations</p>
			<br>
			<br>
			<div class="team">
			<p> The team</p>
			<br>
			<br>

			<ul>
				<li> Levy Evo</li>
				
				<li> Victoria Boggs</li>
				
				<li> Charles Dickstein</li>
			</ul>


	</div>
	</body>
</body>
</html>


